Здравствуй! Это бот сообщества coltre.<br><br>
Через него будет происходить всё твоё взаимодействие с предстоящей тебе программой тренировки.<br><br>
Вступить: /join<br><br>
Команды бота:<br>
/start – приветственное сообщение<br>
/member_menu – меню взаимодействия с ботом для участников<br>
/current_program – текущая программа тренировки<br>
/current_exercise – упражнение, которое выполняется на данный момент<br>
/help – справка