Итак, далее мне нужно узнать твой часовой пояс.<br>
Это необходимо для твоего корректного взаимодействия с ботом, ведь многие функции привязаны к твоему местному времени.<br><br>
На данный момент поддерживаются только временные пояса, которые есть в России, а именно от +2 до +12.