Отлично, мне необходимо узнать некоторую информацию, чтобы продолжить работу.<br><br>
Вот существующие на данный момент уровни подготовки:<br>
{% for level in training_levels %}
  {{ loop.index }}. {{ level.training_level_name }}<br>
{% endfor %}
<br>
Выбери любой, чтобы узнать о нём подробнее.